body {
    width: 600px;
    font-family: Bitter, Georgia, serif;
}

dt {
    padding: 6px;
}

dd.description {
    font-size: 12px;
    padding: 6px;
    border: 1px dotted gray;
    background-color: #f0f0f0;
    color: #101010;
}

.link {
    font-size: 13px;
    text-decoration: none;
    color: #7c664b;
}

.pass {
    clear: both;
    float: right;
}

.url_count {
    font-size: 13px;
}

.saved {
    font-size: 13px;
}

.new_url {
    font-size: 13px;
}
